@{
    ViewData["Title"] = "Craft";
}


<div class="d-flex">
    <input class="form-control me-2" id="searchstring2" type="search" placeholder="Find item" aria-label="Search">
    <button class="button" onclick="Find()">Find</button>
</div>
