@using MOEWiki.DBMySQL.Models

@model List<ItemRecipe>

@{
    Layout = null;
}

@{
    <div class="p-2 other-attr-color item-prop-bgc">Cost:</div>
    foreach (var irg in Model.Where(w => !w.IsStepByStep).GroupBy(g => g.Number))
    {
        <div class="d-flex  item-prop-bgc">
            <div class="p-2 flex-grow-1">
                @foreach (var ir in irg)
                {
                    <a href="/Item/Details/?id=@ir.RecipeItemId" target="_blank">@ir.RecipeItemName</a>
                }
            </div>
            <div class="p-2 value-color">@irg.Select(s => s.Count/s.ForQuantity).Max()</div>
        </div>
    }
    if (Model.Any(w => w.IsStepByStep))
    {
        <div class="p-2 item-prop-bgc">Step-by-step materials:</div>
        foreach (var ir in Model.Where(w => w.IsStepByStep))
        {
            <div class="d-flex  item-prop-bgc">
                <a class="p-2 flex-grow-1" href="/Item/Details/?id=@ir.RecipeItemId" target="_blank">@ir.RecipeItemName</a>
                <div class="p-2 value-color">@ir.Count</div>
            </div>
        }
    }
}
