<style>
    .image-text-container {
        position: relative;
        display: inline-block;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(0,0,0,0.7);
        font-size: 72px;
        text-shadow: 2px 2px 4px white;
    }
</style>


<div class="image-text-container">
    <img src="/images/static/common/mnph.jpg" alt="Описание" style="opacity: 0.2">
    <div class="text-overlay">New map is coming soon</div>
</div>