<div class="h3 p-3 align-content-center">All palnts and seed guide</div>
<div>
    <table  style="text-align: center">
        <tr>
            <th class="border border-1 border-dark"><div class="p-2">Name</div> </th>
            <th class="border border-1 border-dark"><div class="p-2">Icon</div></th>
            <th class="border border-1 border-dark"><div class="p-2">Can collect from wild plant</div></th>
            <th class="border border-1 border-dark"><div class="p-2">Have special plant</div></th>
            <th class="border border-1 border-dark"><div class="p-2">Seed</div></th>
            <th class="border border-1 border-dark"><div class="p-2">Seed icon</div></th>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Barley</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality barley.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Barley Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality barley seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Barley</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common barley.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Barley Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common barley seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Barley</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality barley.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Barley Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality barley seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Barley</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium barley.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Barley Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium barley seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Clove</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/clove.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Clover Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/clover seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Dangshen</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/dangshen.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Dangshen Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/dangshen seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Dragon's Blood Resin</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/dragon's blood resin.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Dragon's Blood Resin Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/dragon's blood resin seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">False Daisy</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/false daisy.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">False Daisy Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/false daisy seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Flax</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality flax.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Flax Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality flax seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Flax</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common flax.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Flax Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common flax seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Flax</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality flax.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Flax Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality flax seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Flax</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium flax.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Flax Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium flax seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Grass</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/grass.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Honeysuckle</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/honeysuckle.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Honeysuckle Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/honeysuckle seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Knotweed Herb</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/knotweed herb.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Knotweed Herb Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/knotweed herb seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Mulberry Leaves</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/mulberry leaves.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Notoginseng</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality notoginseng.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Notoginseng Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality notoginseng seeds.jpg" /></td>
        </tr>        
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Notoginseng</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common notoginseng.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Notoginseng Seed</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common notoginseng seed.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Notoginseng</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality notoginseng.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Notoginseng Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality notoginseng seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Notoginseng</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium notoginseng.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Notoginseng Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium notoginseng seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Paddy</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality paddy.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Rice Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality rice seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Paddy</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common paddy.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Rice Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common rice seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Paddy</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality paddy.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Rice Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality rice seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Paddy</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium paddy.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Rice Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium rice seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Pea</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/pea.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Pea Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/pea seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Sand Onion</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/sand onion.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Sand Onion Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/sand onion seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Sorghum</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/sorghum.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Sorghum Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/sorghum seeds.jpg" /></td>
        </tr>     
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Soybean</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality soybean.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Soybean Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality soybean seeds.jpg" /></td>
        </tr>   
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Soybean</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common soybean.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Soybean Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common soybean seeds.jpg" /></td>
        </tr>   
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Soybean</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality soybean.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Soybean Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality soybean seeds.jpg" /></td>
        </tr>   
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Soybean</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium soybean.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Soybean Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium soybean seeds.jpg" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Wildflower</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/wildflower.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
        </tr>
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Wheat</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality wheat.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/yes.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Low-quality Wheat Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/low-quality wheat seeds.jpg" /></td>
        </tr>   
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Wheat</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common wheat.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Common Wheat Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/common wheat seeds.jpg" /></td>
        </tr>   
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Wheat</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality wheat.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">High-quality Wheat Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/high-quality wheat seeds.jpg" /></td>
        </tr>        
        <tr>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Wheat</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium wheat.jpg" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><img src="/images/static/common/no.svg" width="40" height="40" /></td>
            <td class="border border-1 border-dark"><div class="px-2 h4">Premium Wheat Seeds</div></td>
            <td class="border border-1 border-dark"><img src="/images/static/1/premium wheat seeds.jpg" /></td>
        </tr>        
        
    </table>
</div>
<div class="h3 align-content-center p-3">Special plants and their locations</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Clove</div>
    <img src="/images/static/1/cloveview.png"/>
    <a target="_blank" href="/Map/MapZone/2">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Dangshen</div><img src="/images/static/1/dangshenview.png" />
    <a target="_blank" href="/Map/MapZone/4">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Dragon's Blood Resin</div><img src="/images/static/1/dragons blood resinview.png" />
    <a target="_blank" href="/Map/MapZone/5">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">False Daisy</div><img src="/images/static/1/false daisyview.png" />
    <a target="_blank" href="/Map/MapZone/6">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Honeysuckle</div><img src="/images/static/1/honeysuckleview.png" />
    <a target="_blank" href="/Map/MapZone/9">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Knotweed Herb</div><img src="/images/static/1/knotweed herbview.png" />
    <a target="_blank" href="/Map/MapZone/11">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Mulberry Leaves</div><img src="/images/static/1/mulberry leavesview.png" />
    <a target="_blank" href="/Map/MapZone/13">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Notoginseng</div><img src="/images/static/1/notoginsengview.png" />
    <a target="_blank" href="/Map/MapZone/7">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Pea</div><img src="/images/static/1/peaview.png" />
    <a target="_blank" href="/Map/MapZone/14">View locations on Zhongzhou map (old)</a>
</div>
<div class="d-flex flex-column w-25 pb-3">
    <div class="h4">Sand Onion</div><img src="/images/static/1/sand onionview.png" />
    <a target="_blank" href="/Map/MapZone/16">View locations on Zhongzhou map (old)</a>
</div>